@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* Déclaration des variables pour toute la page css */
:root {
    --blancCremeux: #F0F0F0;
    --bleue: #1765DF;
    --blanc: #FFFFFF;
    --noir: #1C1C1C;
}

/* Déclaration de la nouvelle police d'écriture*/
* {
    font-family: 'Lato', sans-serif, Arial, Helvetica, sans-serif;
    padding: 2px;
    margin: 2px;
}

/* Mettre le background du site en blanc cremeux */
body {
    background: #F0F0F0;
}

/* Class container pour mettre le contenue des diférentes parties à l'intérieur pour la responsive */
.container {
    width: 70%;
    min-width: 848px;
    max-width: 1144px;
    margin: auto;
}

/* Création de l'espace de 50px en haut et en bas du container */
main .container {
    margin: 50px auto;
}

/* Créer 4 marges de 60 px pour centrer le contenue vers l'intérieur */
.content {
    padding: 60px;
}

/* Permet de clear pour les float right ou left */
.clear {
    clear: both;
}

/* Définition de la taille globale du texte du site */
.content p {
    line-height: 23px;
}

/* Enlever le style de base de la liste pour faire croire que c'est une une énumération */
li {
    list-style-type: none;
}

/* Permets de mettre en bleue le texte quand on a la souris dessus */
a:hover {
    color: var(--bleue);
}

/* Définition de quelques class "layout" pour mettre des couleurs ou en gras */
.blue {
    color: var(--bleue);
}

.black {
    color: var(--noir);
}

.white {
    color: var(--blancCremeux)
}

.bold {
    font-weight: 900;
}

/* Class pour créer plusieurs espaces */
.space {
    padding-bottom: 70px;
}

.minispace {
    padding-bottom: 20px;
}

/* Class pour les flèches à droite pour utiliser les ancres */
.arrow {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

/* Class pour mettre le background d'un container en blanc */
.back {
    background: var(--blanc);
}

/* HEADER */

/* Mettre le background en blanc */
header {
    background: var(--blanc);
}

/* Petite animation pour les textes de la nav */
header a {
    color: var(--noir);
    text-decoration: none;
    transition: .2s;
}

/* Création de la nav bar centré et en ligne */
header nav {
    height: 75px;
    background: var(--blanc); /* Régler un problème de responsive */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    text-align: center;
    display: flex;
}

header nav ul li a {
    line-height: 75px;
    padding: 0 15px;
}

#logout-button {
    padding: 10px;
    line-height: 75px;
    border: 3px solid red;
    border-radius: 5px;
}

#logout-button:hover {
    background: red;
    color: white;
}

/* ARTICLE */

/* Création de la zone pour un article et les espacer de 50px */
.article {
    background: var(--blanc);
    margin-bottom: 50px;
}

/* Descendre le titre de 15px */
.content h1 {
    margin-bottom: 15px;
}

/* Création d'un bouton avec une class */
.article .button {
    color: var(--blanc);
    background-color: var(--bleue);
    float: right;
    margin-top: 40px;
    padding: 10px;
    border: none;
    text-decoration: none; /* Enlever le texte souligné car il y a un href */
}

/* Usager */
/* Création d'une image responsive */
.part img {
    margin-right: 3%;
    float: left;
    width: 25%;
    max-width: 200px;
}

/* Permet de placer les titres */
.part h2 {
    margin-bottom: 2%;
}

.part h3 {
    margin-bottom: 1%;
}

/* Permets de créer des carrés en gris de 30 px */
.part .square {
    background-color: #F0F0F0;
    float: left;
    margin-right: 2%;
    height: 30px;
    width: 30px;
    display: table;
    text-align: center;
    vertical-align: middle;
}

.part .square p {
    padding-top: 3px;
}

/* Statistic */

/* Permets de créer des colonnes avec la première(image) qui prend 2x plus de place que l'autre (Les boutons) */
.sell {
    display: grid;
    grid-template-columns: 2fr auto;
    grid-gap: 25px;
    margin-top: 25px;
}

/* Permets de créer des lignes avec la dernière qui prend de la place en fonction de sa taille */
.sell-content {
    display: grid;
    grid-template-rows: 1fr auto;
    margin-top: 10%;
    width: 250px;
}

/* Permets de faire un tableau à 2 colonnes */
.sell-button {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

}

/* MENTIONS LEGALES */
/* Espacer le texte de 30 px */
.mention p {
    margin-bottom: 30px;
}

/* FOOTER */

footer {
    margin-bottom: 40px;
}

/* Création d'une ligne blanche */
footer hr {
    border-top: 2px solid var(--blanc);
    margin-bottom: 0.5em;
}

/* Création des images + les rendre responsives */
footer img {
    width: 50%;
}

/* Création du titre dans la liste */
footer .maj {
    color: var(--noir);
    font-weight: 900;
}

/* Permets de reset les placements après la class row */
footer .row:after {
    content: "";
    display: table;
    clear: both;
}

/* Création des colonnes */
.column {
    float: left;
    padding: 20px 20px; /* le 20 est l'espace entre les colums */
    max-width: 30%;
}

/* Espacement entre les lignes */
footer ul li {
    line-height: 30px;
}

/* Propriété du contenue des listes */
footer ul li a {
    text-decoration: none;
    color: var(--noir);
}

/* FORMULAIRE */
/* Rends reponsive la textarea */
footer textarea {
    width: 100%;
    margin-top: 10px;
    padding: 5px 25px;
    resize: none;
    border-color: black;
    color: black;
}

/* tableau */
table {
    border-collapse: collapse
}

td, th {
    border: 1px solid black;
    padding: 10px;
    /*Connexion */
}

#container {
    width: 400px;
    margin: 0 auto;
    margin-top: 10%;
}

/* Bordered form */
/*form {
    width:100%;
    padding:20px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}*/

#container h1 {
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #1765DF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: white;
    color: #1765DF;
    border: 1px solid #53af57;
}

#modify, #delete {
    width: 45%;
    margin-right: 5px;
    min-width: 100px;
}

.numSecu {
    display: none;
}

.hoverNumSecu:hover + .numSecu {
    display: block;
}

/* Voici notre composition pour les champs invalides */
.error {
    width: 100%;
    padding: 5px;
    font-size: 80%;
    color: white;
    background-color: #900;
}

.Validate {
    width: 100%;
    padding: 5px;
    font-size: 80%;
    color: white;
    background-color: green;
}

.right {
    float: right;
}

.page {
    padding-bottom: 7%;
}

.center {
    text-align: center;
}

.br {
    white-space: nowrap;
}

.table {
    width: 100%;
    border: thick double;
}